name: GitHub-Profile-3D-Contrib

on:
  schedule: # 每天北京时间早上 8 点运行
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v3
      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "generated"
            git push
          else
            echo "no changes to commit"
          fi
